@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome to Inventory management System</h1>
</div>

<div class="team">
	<div class="row">
		<div class="col-md-6">
			<h3>Our Developer Team</h3>
			<ul type="square" style="margin-left: 20px;">
				<li>Mozammel Hoque Riyad</li>
				<li>Md Salman</li>
				<li>Fairoja Hoque</li>
				<li>Md Ali Akbar</li>
				<li>Md Kamrul Sarkar</li>
			</ul>
		</div>
		<div class="col-md-6">
			<h3>Feature Module</h3>
			<ul type="square" style="margin-left: 20px;">
				<li>Category</li>
				<li>Brand</li>
				<li>Item</li>
				<li>Customer</li>
				<li>Supplier</li>
				<li>Stock</li>
			</ul>
		</div>
	</div>
</div>

<style>
	.team {
		margin: 60px 0;
	}

		.team h3 {
			border-bottom: 1px dashed #000;
			padding-bottom: 10px;
		}
</style>
