@model IEnumerable<DOT_NET_MVC_INVENTORY.Models.Brand>

@{
    ViewData["Title"] = "Brand";
}

<h1>Brand</h1>

<p>
    <a asp-action="AddBrand">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> Name</th>
            <th>IsActive</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Name</td>
                <td>@item.IsActive</td>
            </tr>
        }
    </tbody>
</table>
